
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 223 42% 9%;
    --foreground: 0 0% 100%;

    --card: 222 37% 13%;
    --card-foreground: 0 0% 100%;

    --popover: 222 37% 13%;
    --popover-foreground: 0 0% 100%;

    --primary: 159 100% 36%;
    --primary-foreground: 0 0% 100%;

    --secondary: 222 29% 17%;
    --secondary-foreground: 0 0% 100%;

    --muted: 223 16% 56%;
    --muted-foreground: 223 16% 56%;

    --accent: 159 100% 36%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 222 29% 17%;
    --input: 222 29% 17%;
    --ring: 159 100% 36%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-[#0B1221] text-foreground;
  }

  .wallet-adapter-button {
    @apply !bg-[#00B679] hover:!bg-[#00A069] transition-colors;
  }
}
